@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Anisette";
  src: url("/fonts/anisette-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Anisette', sans-serif;
}

@theme {
  --color-primary-rosa-1: #36285A;
  --color-primary-rosa-2: #884D74;
  --color-primary-rosa-3: #FD82AC;
  --color-primary-rosa-4: #FFD2EA;
  --color-primary-aqua-5: #00E8CB;
  --color-primary-aqua-6: #00BEAE;
  --color-primary-aqua-7: #00A0A6;
  --color-primary-aqua-8: #18323A;
  
  --color-secondary-purpura-1: #9E58AA;
  --color-secondary-purpura-2: #CC6EC3;
  --color-secondary-purpura-3: #F183CD;
  --color-secondary-papaya-4: #F58371;
  --color-secondary-papaya-5: #FFA385;
  --color-secondary-papaya-6: #FEF7C2;
  
  --color-tipography-primary-purpura: #542D42;
  --color-tipography-primary-gris-rosa: #FBEEEC;
  
  --color-tipography-secondary-gris: #F3FCF9;
  --color-tipography-secondary-rosa: #FFCEF7;
  --color-tipography-secondary-papaya: #FEF7D3;
  }